:root {
  --motion-ease-primary: cubic-bezier(.11, .61, .27, .99);
  --motion-duration-default: 770ms;
  --motion-duration-fast: calc(var(--motion-duration-default) * 0.6);
  --reveal-offset-default: 7rem;
  --reveal-duration-default: var(--motion-duration-default);
  --reveal-opacity-ratio: .34;
  --reveal-opacity-duration-default: calc(var(--reveal-duration-default) * var(--reveal-opacity-ratio));
  --reveal-stagger-default: 200ms;
}

[data-reveal] {
  opacity: 0;
  --reveal-transform: translate3d(0, var(--reveal-offset, var(--reveal-offset-default)), 0);
  --reveal-transform-active: translate3d(0, 0, 0);
  transform: var(--reveal-transform);
  transition:
    transform var(--reveal-duration, var(--reveal-duration-default)) var(--motion-ease-primary),
    opacity var(--reveal-opacity-duration, var(--reveal-opacity-duration-default)) linear;
  will-change: opacity, transform;
}

[data-reveal].is-reveal, html.wf-design-mode [data-reveal] {
  opacity: 1;
  transform: var(--reveal-transform-active);
}
